body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #F3F8FF;
}

header {
    background-color: #007BFF;
    color: #333333;
    text-align: center;
    padding: 1rem;
}

h1 {
    margin-bottom: 1rem;
}

#search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

#search-input {
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 4px 0 0 4px;
}

#search-button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

section {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    padding: 1.5rem;
}

h2 {
    color: #333;
    margin-bottom: 1rem;
}

.weather-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#location {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

#temperature {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

#description {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

#weather-icon {
    width: 100px;
    height: 100px;
}

.forecast-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.forecast-item {
    background-color: #007BFF;
    border-radius: 4px;
    padding: 1rem;
    text-align: center;
    width: calc(20% - 0.5rem);
    margin-bottom: 0.5rem;
}

.details-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.detail-item {
    background-color: #007BFF;
    border-radius: 4px;
    padding: 1rem;
}

.detail-label {
    font-weight: bold;
    margin-right: 0.5rem;
}

footer {
    background-color: #007BFF;
    color: #333333;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (max-width: 600px) {
    .forecast-item {
        width: calc(50% - 0.5rem);
    }

    .details-container {
        grid-template-columns: 1fr;
    }
}