.container{
    width: 50vw;
    height: 500px;
    background-color: white;
    border: 0px solid white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body{
    background-color: #36454F;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    padding: 15px 50px; 
    background-color: #3557a0; 
    border: 1px solid black; 
    border-radius: 15px; 
    font-weight: bold; 
    font-size: large; 
    color: white; 
    margin: 12px; 
    text-align: center; 
    display: inline-flex; 
    align-items: center; 
    justify-content: center; 
}

button:hover {
    background-color: white; 
    color: #3557a0; 
}
